body{
    background-color: white;
}

/* ------------- This is the HEADER section  */
header {
    background-color: #92C15A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    padding-left: 0px;
}

header h1{  /* ---- Ximena Cu  */
    font-size: 40px;
    color: white;
    background-color: #ab6fce; /* #153A15  */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 40%;
    text-align: center;
    padding: 0.5%;
    /* border: 7px solid #3B7020; #0C1D0F  */
    border-left: 0px;   
    /* border-right: 10px solid #3B7020 ; */
}   


header ul {   /* ---- Menu  */ 
    width: 54%;
    display: flex;
    justify-content:space-around;
    font-size: 20px;
}

/* ------------- This is the WELCOME IMAGE section  */
figure{
    position:relative
}

figure section{
    display: flex;
    justify-content: space-evenly;
}

#welcomeimg{
    /* width: 100%; */
    height: 300px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#welcomeimg1{
    width: 7%;
    height: 300px;
}

figure div{ /* ---- FULL STACK DEV  */
    position: absolute;
    background-color: #1f551f; /* ---- #3B7020  */
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    bottom: 20%;
    right: 10%;
    width: 18%;
    height: 60%;
    text-align: center;
    font-size: 200%;
    border-radius: 50px;    
    padding-top: 3%;
}

/* ------------- This is the MAIN section  */
main{
    padding:4% 7%;
}

.title{
    border-right:6px solid #153A15 ;
    color: #153A15;
    padding-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: right;
}

main img{
    border: 15px solid #92C15A;
}

/* ------------- This is the ABOUT ME section  */
.aboutMe{
    display: flex;
    margin-bottom: 7%;
}

.aboutMe p{ /* ---- about me paragraph  */
    padding-left: 5%;
    line-height: 150%;
}

/* ------------- This is the MY WORK  section  */
.myWork{
    display: flex;
}

.bigbox{
    margin-bottom: 1%;
    position: relative;
}

#bigimg{
    width:65%;
    margin-left: 17.5%;
}

.man{ 
    position: absolute;
    background-color: #92C15A;
    margin-left: 17.5%;
    bottom: 15%;
    width: 25%;
    height: 15%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    padding-top: 2.5%;
}

main img:hover {
    border: 20px solid #6e9145;
}

#bigimg:hover .man {
    background-color: #795ac1;
}

/* ------------------------------------  */
.updown{
    display:flex;
    /* justify-content:center; */
    position: relative;
    padding-left: 20%;
    width: 80%;

}

.text{
    background-color: #92C15A;
    position: absolute;
    bottom: 14%;
    width: 20%;
    height: 19%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 1%;
    padding-left: 2.5%;
}
#left{
    left: 25%;
}
#right{
    left: 63%;
}
.text p{
    font-size: 13px;
}

.smallimgs{
    width: 98%;
}

/* .smallimg:hover.text{
    background-color: #795ac1;
} */


/* ------------- This is the Contact Me section  */
.contactMe{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 5%;
}

.contactMe ul {  
    width: 54%;
    display: flex;
    justify-content:space-around;
}

/* ------------- This is the Resume section  */
#Resume{
    display: flex;
    justify-content:safe;
}

#Resume p{
    background-color:#ab6fce;
    border-radius: 50px;
    border: 7px solid #92C15A; 
    width: 200%;
    height: 100%;
    margin-left: 90%;
    text-align: center;
    padding-top: 2%;
}


/* ------------- This is the Resume section  */
footer{
    background-color: #92C15A;
    padding: 2%;
    text-align: center;
}
