body {
    margin: 0;
    background-color: #B69B98;  
}

/* ------------- This is the header section  */
header { 
    background-color: #66483f;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

header h1 { /* ---- Ximena Cu box  */
    background-color: #ac7241;
    width: 35%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

header ul {   /* ---- Menu  */ 
    list-style-type: none;
    color: #dba26f;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-right: 40px;
}

header ul li {   /* ---- Menu items  */ 
    margin-left: 30px;
    text-decoration: underline;
}

/* ------------- This is the welcome image section  */
figure {
    margin: 0;
    position: relative;
}

#welcome{     /* ---- Fungi Image  */ 
    width:100%;
}

figure div{     /* ---- Full stack dev box  */
    background-color: #846562;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #332f34;
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    right: 50px;
    border-radius: 50px;
}

/* ------------- This is the MAIN section  */
.AboutMe{  /*  section  */
    display: flex;
    padding: 50px;
}

.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#4D2B2C;
    font-size: 30px;
    margin-left: 7%;
    text-align: right;
}

line{
    background-color: #39262F;
    width: 5px;
    height: 100px;
    margin-left: 3%;
}


#paragraph { /* ---- About me paragraph  */
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 3%;
    margin-right: 5.5%;
}

.Work{
    background-color: blue;
    display: inline;
    position: relative;
}

.Example1{
    background-color: red;
    /* display: block; */
    justify-content: center;
}

